.container {
    display: grid;
    height: 100vh;
    background-color: var(--blue-green);
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 8fr;
    padding: var(--spacing-s);
    gap: var(--spacing-s)
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header, .navigator, .main {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: var(--border-radius-l);
    min-height: 0;
    min-width: 0;
    padding: var(--spacing-xs);
}

.profloCompanyWrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.profloLogoWrapper {
    height: 100%;
    display: flex;
}

.userWrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
    height: 50%
}

.profilePicWrapper {
    height: 100%;
    display: flex;
}

h1 {
    font-size: 3vw;
    margin: 0px;
    color: var(--proflo-green);
}

h2 {
    font-size: 0.9vw;
    padding: 0px;
    margin: 0px;
}

h3 {
    font-size: 0.7vw;
    font-weight: 400;
    margin: 0px;
}

h4 {
    font-size: 0.6vw;
    font-weight: 400;
    background-color: var(--light-green);
    border: 1px solid var(--blue-green-dark);
    padding: var(--spacing-xxxs);
    border-radius: var(--border-radius-s);
}

form {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

input, textarea {
    margin-top: 0.2vw;
    margin-bottom: 1vw;
    border-radius: var(--border-radius-s);
    border-color: var(--input-border);
}

.navigator {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.sidebarRow {
    display: flex;
    align-items: center;
    gap: var(--spacing-m);
    background-color: var(--white);
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-s);
}

.sidebarRow:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.projectButtonsWrapper {
    padding: var(--spacing-xs);
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3vw;
}

.modal {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.overlay {
    position: relative;
    background-color: var(--white);
    padding: var(--spacing-m);
    border-radius: var(--border-radius-l);
    box-shadow: var(--shadow);
}

.formTitle {
    margin-bottom: var(--spacing-s);
}

.formExitBtn {
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
    background-color: var(--white);
}

.formExitBtn:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.projectCard {
    background-color: aliceblue;
    border-radius: var(--border-radius-l);
    padding: var(--spacing-s);
}

.projectImageWrapper {
    width: 100%;
    display: flex;
    margin-bottom: var(--spacing-xs);
}

.projectImage {
    width: 100%;
    border-radius: var(--border-radius-s);
}

.tagsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-xs);
    margin-top: var(--spacing-xs);
}

.uploadFileInput {
    display: none;
}

.uploadFileButton {
    padding: var(--spacing-m);
    border-radius: var(--border-radius-xs);
    font-size: 0.8vw;
    margin: 0px;
    background-color: var(--light-green);
    font-weight: 600;
}

.uploadFileButton:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.companyNameWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.companyLogoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: var(--spacing-s);
}

.companyLogoImage {
    width: 50%;
    display: block;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.companyNameInput {
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-xs);
    border: solid 1px black;
    font-size: 0.8vw;
    margin: 0px;
}

.companyNameBtn {
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-xs);
    border: solid 1px black;
    font-size: 0.8vw;
    margin: 0px;
    background-color: var(--light-green);
    font-weight: 600;
}

.companyNameBtn:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.companyNameFormLabel {
    font-size: 0.8vw;
    font-weight: 600;
}

.companyName {
    text-align: center;
    font-size: large;
    font-weight: 600;
}

hr {
    margin-bottom: var(--spacing-s);
    height: 1px;
}

.signOutButton {
    padding: var(--border-radius-xs) var(--border-radius-l);
    border-radius: var(--border-radius-xs);
    font-size: 0.8vw;
    margin: 0px;
    background-color: var(--light-green);
    font-weight: 600;
}

.signOutButton:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.addProjectInput {
    border-radius: var(--border-radius-xs);
    padding: var(--spacing-xxs);
}

.addProjectButton {
    border-radius: var(--border-radius-xs);
    padding: var(--spacing-xxs);
    background-color: var(--light-green);
    font-weight: 600;
}

.addProjectButton:hover {
    cursor: pointer;
    filter: brightness(90%);
}