.container {
    display: flex;
    height: 100vh;
    background-color: var(--blue-green);
    justify-content: center;
    align-items: center;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    background-color: var(--white);
    border-radius: var(--border-radius-l);
    padding: var(--spacing-l) var(--spacing-xl);
}

.profloLogo {
    height: 8vw;
}

.signInForm {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: var(--spacing-s);
    font-size: 2vw;
    text-align: center;
}

.welcomeInstructions {
    margin-bottom: var(--spacing-m);
    font-size: 0.8vw;
    font-weight: 400;
    text-align: center;
}

.signInFormLabel {
    font-size: 0.8vw;
    font-weight: 600;
}

.signInFormInput, .signInFormButton {
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-xs);
    border: solid 1px black;
    width: 20vw;
    font-size: 0.8vw;
    margin-bottom: var(--spacing-s);

}

.signInFormInputPassword {
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-xs);
    border: solid 1px black;
    width: 20vw;
    font-size: 0.8vw;
    margin-bottom: var(--spacing-xxxs);
}

.forgotPassWord {
    font-size: 0.7vw;
    font-weight: 400;
    margin-bottom: var(--spacing-s);
}

.signInFormButton {
    background-color: var(--blue-green-dark);
    font-weight: 600;
}

.signInFormButton:hover {
    cursor: pointer;
    filter: brightness(90%);
}

hr {
    margin-bottom: var(--spacing-s);
    height: 1px;
}

.googleButton {
    background-color: #4285F4;
    height: 2vw;
    border: none;
    box-shadow: var(--shadow);
    margin-bottom: var(--spacing-xs);
}

.googleButtonContentWrapper {
    display: flex;
    padding: 1px;
    height: 100%;
}

.googleLogoWrapper {
    background-color: white;
    height: 100%;
    padding: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.googleLogoImage {
    display: flex;
    height: 100%;
}

.googleButtonTextWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.googleButtonText {
    color: white;
    font-size: 18px;
}

.googleButton:hover {
    cursor: pointer;
}

.MSButton {
    background-color: white;
    height: 2vw;
    border: 1px solid #737373;
    box-shadow: var(--shadow);
    margin-bottom: var(--spacing-xs);
}

.MSButtonContentWrapper {
    display: flex;
    padding: 1px;
    height: 100%;
}

.MSLogoWrapper {
    background-color: white;
    height: 100%;
    padding: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MSLogoImage {
    display: flex;
    height: 100%;
}

.MSButtonTextWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MSButtonText {
    color: #737373;
    font-size: 18px;
}

.MSButton:hover {
    cursor: pointer;
}

.nameWrapper {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.firstNameWrapper, .lastNameWrapper {
    display: flex;
    flex-direction: column;
}

.signInFormInputName {
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-xs);
    border: solid 1px black;
    width: 9vw;
    font-size: 0.8vw;
    margin-bottom: var(--spacing-s);
}