.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    background-color: var(--blue-green);
    padding: max(1vw, 15px);
    gap: max(1vw, 15px);
    overflow: hidden;
}

.header, .navigator, .main, .navigatorMinor {
    background-color: var(--white);
    border-radius: var(--border-radius-l);
    padding: 16px;
}

.header {
    height: max(10%, 150px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    overflow: hidden;
}

.bodyContent {
    display: flex;
    flex-grow: 1;
    gap: max(1vw, 15px);
    max-height: calc(100vh - 150px - 3*max(1vw, 15px));
}

.navigator {
    display: flex;
    flex-direction: column;
    width: 15%;
    min-width: 300px;
}

.navigatorMinor {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    overflow: scroll;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Header component CSS */

.profloCompanyWrapper {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.profloLogoWrapper {
    height: 80%;
    display: flex;
}

.headerPageLogoTitle {
    flex-shrink: 0;
    color: var(--proflo-green);
    font-size: 48px;
}

.userWrapper {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 50%
}

.profilePicWrapper {
    height: 100%;
    display: flex;
}

.userName {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.signOutButton {
    padding: 4px 20px;
    border-radius: var(--border-radius-xs);
    font-size: 20px;
    margin: 0px;
    background-color: var(--light-green);
    font-weight: 600;
}

.signOutButton:hover {
    filter: brightness(90%);
    cursor: pointer;
}

/* Nav Bar CSS */

.projectNameWrapper {
    font-size: 20px;
    font-weight: 500;
    padding: 16px;
}

.sidebarRow {
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: var(--white);
    padding: 8px;
    border-radius: var(--border-radius-s);
    font-size: 12px;
    position: relative;
    z-index: 0;
}

.sidebarRowMinor {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background-color: var(--white);
    padding: 8px;
    font-size: 12px;
    border-radius: var(--border-radius-s);
    position: relative;
    z-index: 0;
}

.sidebarRow:hover, .sidebarRowMinor:hover {
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}

.projectButtonsWrapper {
    padding: 8px;
}

/* Main CSS */

.PFDWrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.PFD {
    height: 100%;
    width: 100%;
    z-index: 0;
}

.streamTable {
    border-spacing: 0px;
    padding: 0px 24px;
}

.tableCell {
    border: 0.5px solid var(--blue-green);
    font-size: 12px;
    padding: 2px;
}

.streamTableExitBtn {
    top: 2px;
    right: 2px;
    background-color: var(--blue-green-dark);
}

.streamTableExitBtn:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.streamInfoHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: var(--blue-green-dark);
}

.addCommentButton {
    background-color: var(--blue-green);
    border: none;
    font-size: medium;
    padding: 8px;
    margin: 8px;
    border-radius: var(--border-radius-s);
    font-size: medium;
 }
 
 .addCommentButton:hover {
     cursor: pointer;
     filter: brightness(90%)
 }

/* Comment Modal CSS */

 .modal {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.overlay {
    position: relative;
    background-color: var(--white);
    padding: 32px;
    border-radius: var(--border-radius-l);
    box-shadow: var(--shadow);
}

.formTitle {
    margin-bottom: 16px;
    text-align: left;
}

.formLabel {
    font-size: 14px;
    font-weight: 500;
}

.formInput {
    border-radius: var(--border-radius-xs);
    padding: 4px;
    margin: 0px;
}

.formSubmitBtn {
    border-radius: var(--border-radius-xs);
    padding: 4px;
    background-color: var(--light-green);
    font-weight: 600;
    width: 100%;
}

.formSubmitBtn:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.docNameTypeWrapper {
    display: flex;
    justify-self: space-between;
    gap: 16px;
    margin-bottom: 16px;
}

.fileUploadWrapper {
    display: flex;
    gap: 32px;
    margin-bottom: 24px;
    align-items: center;
}

.documentUploadBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.documentUploadForm {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-l);
    align-items: center;
}

.addDataWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.dataListWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.addStringWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.addStringInput {
    margin: 0px;
    padding: 4px;
    border-width: 1px;
    border-radius: var(--border-radius-s);
    font-size: 12px;
}

.addStringBtn {
    padding: 4px 8px;
    border-radius: var(--border-radius-xs);
    border: solid 1px black;
    font-size: 12px;
    margin: 0px;
    background-color: var(--light-green);
    font-weight: 600;
}

.addStringBtn:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.addStringHeading {
    margin-bottom: 4px;
    font-size: 12px;
}

.companyNameBtn:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.addItemBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    overflow: hidden;
    justify-content: center;
    border: none;
    border-radius: var(--border-radius-s);
    background-color: var(--blue-green);
    gap: 8px;
    height: 100%;
}

.addItemBtn:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.addItemLogo {
    height: 64px;
}

.addItemInput {
    display: none;
}

.newDocForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formExitBtn {
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: var(--white);
}

.formExitBtn:hover {
    cursor: pointer;
    filter: brightness(90%);
}

/* Doc Loading Modal */

.docLoadModal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
