.container {
    display: flex;
    height: 100vh;
    background-color: var(--blue-green);
    justify-content: center;
    align-items: top;
    padding: 120px;
    overflow: hidden;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 720px;
    min-height: 720px;
    background-color: var(--white);
    border-radius: var(--border-radius-l);
    padding: min(20px, 4vw) min(20px, 8vw);
}

.profloLogo {
    height: 150px;
}

.signInForm {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 12px;
    font-size: 48px;
    text-align: center;
}

.welcomeInstructions {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.signInFormLabel {
    font-size: 18px;
    font-weight: 600;
}

.signInFormInput, .signInFormButton, .signInFormInputPassword {
    padding: 8px;
    border-radius: var(--border-radius-xs);
    border: solid 1px black;
    width: 500px;
    font-size: 18px;
    margin-bottom: 20px;
}

.signInFormInputPassword {
    margin-bottom: 4px;
}

.forgotPassWord {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.signInFormButton {
    background-color: var(--blue-green-dark);
    font-weight: 600;
    font-size: 18px;
}

.signInFormButton:hover {
    cursor: pointer;
    filter: brightness(90%);
}

hr {
    margin-bottom: var(--spacing-s);
    height: 1px;
}

.googleButton {
    background-color: #4285F4;
    height: 40px;
    border: none;
    box-shadow: var(--shadow);
    margin-bottom: 20px;
}

.googleButtonContentWrapper {
    display: flex;
    padding: 2px;
    height: 100%;
}

.googleLogoWrapper {
    background-color: white;
    height: 100%;
    padding: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.googleLogoImage {
    display: flex;
    height: 100%;
}

.googleButtonTextWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.googleButtonText {
    color: white;
    font-size: 18px;
}

.googleButton:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.MSButton {
    background-color: white;
    height: 40px;
    border: 1px solid #737373;
    box-shadow: var(--shadow);
    margin-bottom: var(--spacing-xs);
}

.MSButtonContentWrapper {
    display: flex;
    padding: 1px;
    height: 100%;
}

.MSLogoWrapper {
    background-color: white;
    height: 100%;
    padding: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MSLogoImage {
    display: flex;
    height: 100%;
}

.MSButtonTextWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MSButtonText {
    color: #737373;
    font-size: 18px;
}

.MSButton:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.nameWrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.firstNameWrapper, .lastNameWrapper {
    display: flex;
    flex-direction: column;
}

.signInFormInputName {
    padding: 8px;
    border-radius: var(--border-radius-xs);
    border: solid 1px black;
    width: 240px;
    font-size: 18px;
    margin-bottom: 20px;
}