* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

:root {
    --blue-green: #e3f7f5;
    --blue-green-dark: #4dffc9;
    --white: #ffffff;
    --border-radius-l: 16px;
    --border-radius-s: 8px;
    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-s: 16px;
    --spacing-m: 32px;
    --spacing-l: 64px;
    --spacing-xl: 128px;
    --spacing-xxl: 256px;
}