* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

:root {
    --blue-green: #e3f7f5;
    --blue-green-dark: #4dffc9;
    --white: #ffffff;
    --proflo-green: #3ac69c;
    --input-border: rgb(155, 155, 155);
    --shadow: rgba(0,0,0,1) 0px 1px 4px;
    --border-radius-l: 16px;
    --border-radius-s: 8px;
    --spacing-xxs: 0.25vw;
    --spacing-xs: 0.5vw;
    --spacing-s: 1vw;
    --spacing-m: 2vw;
    --spacing-l: 4vw;
    --spacing-xl: 8vw;
    --spacing-xxl: 16vw;
}